.order-items-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 50px;
}