.header {
  padding: 20px 10px;
  gap: 20px;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: brown;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

.header-link:hover {
  border-color: black;
}

.header-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-right {
  display: flex;
  gap: 10px;
  
}

.header-link-cart {
   color: black;
   font-size: 30px;
   margin-top: 7px;     
}

.header-link-exit {
   color: black; 
   font-size: 33px;    
}

.header-link-exit:hover {
  color: brown;
}


.header-link-cart:hover {
  color: brown;
}

.header-cart {
    position: relative;
    position: relative;
    padding: 0 10px;
    transition: 0.1s;
}

.header-cart-badge {
    position: absolute;
    top: 0;
    right: 0;
}