.product-item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid brown;
    padding: 5px 10px;
}

.product-item-image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%50%;
    overflow: hidden;
    cursor: pointer;
}

.product-item-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product-item-quantity {
    font-weight: bold;
    font-size: 20px;
}

.product-item-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}